*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0a192f;
    display: block;
}

/* --------------------------HEADER---------------------------------------------------------------------- */

nav{
    /* background-color: #64ffda; */
    width: 95%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    margin-left: 18px;
    transition: 1s;
}

img.logo:hover{
    /* transform: rotate(360deg) scale(2); */
    scale: 1.3;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin-right: 70px;
}

.navlink{
    font-size: 17px;
    font-family: Georgia;
    color: #8892b0;
    text-decoration: none;
    position: relative;
}
.navlink:after{
    content: '';
    position: absolute;
    background-color: #64ffda;
    height: 5px;
    width: 0;
    top: 20px;
    left: 0;
    transition: 0.2s;
}
.navlink:hover{
    color: #64ffda;
}
.navlink:hover:after{
    width: 100%;
}

/* -----------------------SOCIALMEDIA ICONS------------------------------------------------------------------ */

.icons{
    /* background-color: #64ffda; */
    position: fixed;
    left: 90px;
    top: 115px;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.icons img{
    cursor: pointer;
}
.icons img:hover{
    scale: 1.3;
    filter: drop-shadow(1px 1px 3px #64ffda);
}
.iconline1{
    color: #8892b0;
    transform: rotate(90deg);
    margin-bottom: 50px;
    margin-left: 15px;
}
.iconline2{
    color: #8892b0;
    transform: rotate(90deg);
    margin-top: -40px;
    margin-left: 15px;
}

/* --------------------------EMAIL-------------------------------------------------------------- */

.email{
    position: fixed;
    right: -120px;
    top: 430px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #d9daddda;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    transform: rotate(90deg);
    cursor: pointer;
}
.line{
    margin-top: -8px;
}
.mailid:hover{
    filter: drop-shadow(1px 1px 3px #64ffda);
}

/* -----------------------WELCOME INFO------------------------------------------------------------------ */

.welcome{
    /* background-color: aquamarine; */
    width: 65%;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 30px;
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px rgba(100, 255, 218, 0.5); */
}

.hi{
    color: #64ffda;
    font-size: 21px;
    margin-top: 20px;
}
.myname{
    color: #d9daddda;
    font-family: 'Franklin Gothic Medium';
    font-size: 85px;
    margin-top: 10px;
    /* filter: drop-shadow(2px 2px 5px gray); */
}

.myinfo{
    color: #8892b0;
    font-size: 40px;
    margin-right: 15px;
}

.myinfo1{
    color: #8892b0;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 35px;
}
.myinfo1 p{
    margin-top: 20px;
}

.welcomebutton button{
    background-color: #0a192f;
    color: #64ffda;
    font-size: 16px;
    padding: 3px 15px 3px 15px;
    margin-left: 15px;
    margin-right: 25px;
    border: #64ffda 1px solid;
    border-radius: 50px;
    cursor: pointer;
}
.welcomebutton button:hover{
    filter: drop-shadow(1px 1px 3px #64ffda);
}


/* ------------------------ABOUT ME------------------------------------------- */

.aboutme{
    /* background-color: aquamarine; */
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.heading{
    display: flex;
    flex-direction: row;
}
.heading p{
    margin-top: 7px;
    color: #8892b0;
}
.aboutme h1{
    color: #d9daddda;
    font-size: 40px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin-left: 10px;
    margin-right: 10px;
}
.details{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 35px;
}
.details p{
    width: 60%;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #8892b0;
    text-align: justify;
}
.details p span{
    color: #64ffda;
}

.overlay{
    width: 30%;
    height: 40%;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(100, 255, 218, 0.5);
    position: relative;
}
.overlay img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.overlay div{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.3;
    border-radius: 5px;
    background-color: #64ffda;
}
.overlay div:hover{
    opacity: 0;
    transition: 0.5s;
}

/* ------------------------PROJECTS------------------------------------------- */

.projects{
    /* background-color: aquamarine; */
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 40px;
}
.heading2{
    display: flex;
    flex-direction: row;
}
.heading2 p{
    margin-top: 7px;
    color: #8892b0;
}
.projects h1{
    color: #d9daddda;
    font-size: 40px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin-left: 10px;
    margin-right: 10px;
}

    /*------------- project 1----------------- */

.project1{
    display: flex;
    flex-direction: row;
}
.det1 h2{
    font-size: 25px;
    color: #8892b0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.det1{
    width: 60%;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #8892b0;
    text-align: justify;
}

.project1 .projectoverlay{
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}
.projectoverlay img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.projectoverlay div{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.6;
    border-radius: 5px;
    background-color: #64ffda;
}
.projectoverlay div:hover{
    opacity: 0;
    transition: 0.5s;
}

/* --------project-2------- */

.project2{
    display: flex;
    flex-direction: row;
}
.det2 h2{
    font-size: 25px;
    color: #8892b0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    text-align: end;
}
.det2{
    width: 60%;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #8892b0;
    text-align: justify;
    margin-right: 20px;
}

.project2 .projectoverlay2{
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}
.projectoverlay2 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.projectoverlay2 div{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.6;
    border-radius: 5px;
    background-color: #64ffda;
}
.projectoverlay2 div:hover{
    opacity: 0;
    transition: 0.5s;
}

/* --------project-3------- */

.project3{
    display: flex;
    flex-direction: row;
}
.det3 h2{
    font-size: 25px;
    color: #8892b0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.det3{
    width: 60%;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #8892b0;
    text-align: justify;
}

.project3 .projectoverlay3{
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}
.projectoverlay3 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.projectoverlay3 div{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.6;
    border-radius: 5px;
    background-color: #64ffda;
}
.projectoverlay3 div:hover{
    opacity: 0;
    transition: 0.5s;
}

/* --------------project 4-------------- */

.project4{
    display: flex;
    flex-direction: row;
}
.det4 h2{
    font-size: 25px;
    color: #8892b0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.det4{
    width: 60%;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #8892b0;
    text-align: justify;
}

.project4 .projectoverlay4{
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}
.projectoverlay4 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.projectoverlay4 div{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.6;
    border-radius: 5px;
    background-color: #64ffda;
}
.projectoverlay4 div:hover{
    opacity: 0;
    transition: 0.5s;
}

/* --------------project 4-------------- */

.project5{
    display: flex;
    flex-direction: row;
}
.det5 h2{
    font-size: 25px;
    color: #8892b0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.det5{
    width: 60%;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #8892b0;
    text-align: justify;
}

.project5 .projectoverlay5{
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}
.projectoverlay5 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.projectoverlay5 div{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.6;
    border-radius: 5px;
    background-color: #64ffda;
}
.projectoverlay5 div:hover{
    opacity: 0;
    transition: 0.5s;
}

/* --------------project 6-------------- */

.project6{
    display: flex;
    flex-direction: row;
}
.det6 h2{
    font-size: 25px;
    color: #8892b0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.det6{
    width: 70%;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #8892b0;
    text-align: justify;
}

.project6 .projectoverlay6{
    width: 25%;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}
.projectoverlay6 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.projectoverlay6 div{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.6;
    border-radius: 5px;
    background-color: #64ffda;
}
.projectoverlay6 div:hover{
    opacity: 0;
    transition: 0.5s;
}

/* --------------project 7-------------- */

.project7{
    display: flex;
    flex-direction: row;
}
.det7 h2{
    font-size: 25px;
    color: #8892b0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.det7{
    width: 70%;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #8892b0;
    text-align: justify;
}

.project7 .projectoverlay7{
    width: 25%;
    height: 400px;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}
.projectoverlay7 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.projectoverlay7 div{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.6;
    border-radius: 5px;
    background-color: #64ffda;
}
.projectoverlay7 div:hover{
    opacity: 0;
    transition: 0.5s;
}

/* ------------------------EDUCATION------------------------------------------- */

.education{
    /* background-color: aquamarine; */
    width: 65%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heading3{
    display: flex;
    flex-direction: row;
    color: #d9daddda;
}
.heading3 h1{
    color: #d9daddda;
    font-size: 40px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin-left: 10px;
    margin-right: 10px;
}
.heading3 p{
    margin-top: 7px;
    color: #d9daddda;
}

.college h2{
    font-size: 25px;
    color: #8892b0;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 15px; */
}
.college p{
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #64ffda;
}

.course h2{
    font-size: 25px;
    color: #8892b0;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 15px; */
}
.course p{
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
#lang{
    color: #d9daddda;
}
#cls{
    color: #64ffda;
}

/* ------------------------CONTACT ME------------------------------------------- */

.contactme{
    /* background-color: aquamarine; */
    width: 65%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 150px;
}
.heading4{
    display: flex;
    flex-direction: row;
    color: #d9daddda;
}
.heading4 h1{
    color: #d9daddda;
    font-size: 40px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin-left: 10px;
    margin-right: 10px;
}
.heading4 p{
    margin-top: 7px;
    color: #d9daddda;
}
.messg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#msg{
    color: #8892b0;
    font-size: 17px;
}
#mailadd{
    color: #64ffda;
    font-size: 19px;
}
#mailadd:hover{
    filter: drop-shadow(1px 1px 3px #64ffda);
    cursor: pointer;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    gap: 20px;
}
.form p{
    color: #8892b0;
    font-size: 17px;
}
.form input{
    width: 300px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.form textarea{
    width: 300px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.form button{
    font-size: 17px;
    color: #64ffda;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    border: 2px #64ffda solid;
    background-color: #0a192f;
}
.form button:hover{
    filter: drop-shadow(1px 1px 3px #64ffda);
    cursor: pointer;
}

.last{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #8892b0;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}



/* ------------------------MEDIA QUERY-------------------------------- */


        /* FOR RESPONSIVE PAGE 
        for mobile devices: 320px - 480px
        for tablets and ipads: 480px - 768px
        for desktop and large size screen: 1024px - 1200px
        for extra large screen: 1200px and more */

        @media(max-width:600px) {
            nav{width: 100%;}
            .logo{
                width: 60px;
                margin-left: 5px;
            }
            nav ul{
                gap: 15px;
                margin-right: 20px;
            }
            .navlink{font-size: 12px;}
            .navlink:after{
                margin-top: -7px;
                height: 2px;
            }
            .icons{
                width: 0;
                height: 0;
                left: -150px;
            }
            .email{left: -3550px;
            font-size: 0;}

            .welcome{
                background-color: rgba(100, 255, 218, 0.02);
                width: 90%;
                padding: 10px;
            }
            .hi{font-size: 18px;}
            .myname{font-size: 60px;}
            .myinfo{font-size: 30px;}
            .myinfo1{
                width: 100%;
                font-size: 15px;
            }

            /* .welcomebutton{
                margin-left: 20px;
            } */
            .welcomebutton button{
                font-size: 12px;
            }

    /* ----------------------Aboutme------------------- */

            .aboutme{
                width: 85%;
                /* padding: 5px; */
            }
            .heading p{
                font-size: 6px;
                margin-top: 15px;
            }
            .heading h1{
                font-size: 35px;
            }
            .details{
                background-color: rgba(100, 255, 218, 0.02);
                flex-direction: column-reverse;
            }
            .details p{
                width: 100%;
                font-size: 15px;
            }
            .overlay{
                width: 70%;
                margin-top: 10px;
                margin-left: 45px;
            }

    /* -----------------Projects--------------------- */

            .projects{
                width: 80%;
                padding: 30px;
            }
            .heading2 p{
                font-size: 6px;
                margin-top: 15px;
            }
            .heading2 h1{
                font-size: 35px;
            }

            .project1{
                flex-direction: column;
                background-color: rgba(100, 255, 218, 0.02);
                padding: 10px;
            }
            .det1{
                width: 100%;
                font-size: 15px;
                }
            .project1 .projectoverlay{
                width: 80%;
                margin-top: 20px;
            }

            .project2{
                flex-direction: column-reverse;
                background-color: rgba(100, 255, 218, 0.02);
                padding: 10px;
            }
            .det2{
                width: 100%;
                font-size: 15px;
            }
            .det2 h2{text-align: start;}
            .project2 .projectoverlay2{
                width: 80%;
                margin-top: 20px;
            }

            .project3{
                flex-direction: column;
                background-color: rgba(100, 255, 218, 0.02);
                padding: 10px;
            }
            .det3{
                width: 100%;
                font-size: 15px;
            }
            .project3 .projectoverlay3{
                width: 80%;
                margin-top: 20px;
            }

            .project4{
                flex-direction: column-reverse;
                background-color: rgba(100, 255, 218, 0.02);
                padding: 10px;
            }
            .det4{
                width: 100%;
                font-size: 15px;
            }
            .project4 .projectoverlay4{
                width: 60%;
                margin-top: 20px;
            }

            .project5{
                flex-direction: column;
                background-color: rgba(100, 255, 218, 0.02);
                padding: 10px;
            }
            .det5{
                width: 100%;
                font-size: 15px;
            }
            .project5 .projectoverlay5{
                width: 80%;
                margin-top: 20px;
            }

            .project6{
                flex-direction: column-reverse;
                background-color: rgba(100, 255, 218, 0.02);
                padding: 10px;
            }
            .det6{
                width: 100%;
                font-size: 15px;
            }
            .project6 .projectoverlay6{
                width: 50%;
                margin-top: 20px;
            }

            .project7{
                flex-direction: column;
                background-color: rgba(100, 255, 218, 0.02);
                padding: 10px;
            }
            .det7{
                width: 100%;
                font-size: 15px;
            }
            .project7 .projectoverlay7{
                width: 50%;
                margin-top: 20px;
            }

    /* --------------------Education-------------------------- */
            .education{
                width: 80%;
            }
            .heading3 h1{
                font-size: 35px;
            }
            .heading3 p{
                font-size: 6px;
                margin-top: 15px;
            }
            .college h2{font-size: 22px;}
            .college p{font-size: 12px;}

            .course h2{font-size: 22px;}
            #cls{font-size: 12px;}
            #lang{font-size: 0;}

    /* -------------------Contact me------------------------ */
            .contactme{
            width: 80%;
            padding: 30px;
            }
            .heading4 h1{
                font-size: 35px;
                margin-right: 5px;
            }
            .heading4 p{
                font-size: 6px;
                margin-top: 15px;
            }
            #msg{
                font-size: 13px;
            }
            #mailadd{
                font-size: 16px;
            }
            .form p{
                font-size: 13px;
            }

            .last{width: 100%;}



/* ------------------------------------------------------------------------------------------------ */
            /* .icons{
                position: absolute;
                flex-direction: row;
                left: 0px;
            }
            .iconline1 {transform: rotate(0deg);}
            .iconline2 {transform: rotate(0deg);}
            .icons img{
                width: 10px;
                height: 10px;} */

        }